
<ul class="navbar">
  <li>{{link-to "Inicio" "index"}}</li>
</ul>



<p>
  {{input type='text' value=query}}
  <button class=customButtonNonFloat type='button' {{action 'search' query}}>Buscar</button>
</p>


{{#if query}}
<table class='convocatorias'>
  <tr>
    <th class='title'>Nombre&emsp;</th>
    <th class='title'>Puestos disponibles&emsp;</th>
    <th class='title'>Horario&emsp;</th>
  </tr>
  {{#each model.convocatorias as |convocatorias|}}
      {{#if (search-Helper convocatoria.name query)}}
      <tr>
        <td>{{convocatorias.name}}</td>
        <td class='places'>{{convocatorias.places}}</td>
        <td>{{convocatorias.schedule}}</td>
        <td><button class='customButton' {{action 'aply' name}}>Aplicar</button></td>
      </tr>
      {{/if}}
  {{/each}}
</table>

{{else}}
<table class='convocatorias'>
  <tr>
    <th class='title'>Nombre&emsp;</th>
    <th class='title'>Puestos disponibles&emsp;</th>
    <th class='title'>Horario&emsp;</th>
  </tr>
  
  {{#each model.convocatorias as |convocatorias|}}
    <tr>
      <td>{{convocatorias.name}}</td>
      <td class='places'>{{convocatorias.places}}</td>
      <td>{{convocatorias.schedule}}</td>
      <td><button class='customButton' {{action 'aply' name}}>Aplicar</button></td>
    </tr>
  {{/each}}
</table>
{{/if}}



{{outlet}}


