
<ul class="navbar">
  <li>{{link-to "Inicio" "index"}}</li>
</ul>

<p>
  {{input type='text' value=query}}
  {{!--<button class=customButtonNonFloat type='button' {{action 'search' query}}>Buscar</button>--}}
</p>


<table class='convocatorias'>
  <tr>
    <th class='title'>Nombre&emsp;</th>
    <th class='title'>Puestos disponibles&emsp;</th>
    <th class='title'>Horario&emsp;</th>
    <th></th>
  </tr>
  
  {{#each filteredConvocatorias as |convocatoria|}}
    <tr>
      <td>{{convocatoria.name}}</td>
      <td class='places'>{{convocatoria.places}}</td>
      <td>{{convocatoria.schedule}}</td>
      <td><button class='customButton' {{action 'apply' convocatoria}}>Aplicar</button></td>
    </tr>
  {{/each}}
</table>
{{outlet}}