<p>
  {{input type='search' placeholder='Buscar' value=query}}
</p>

<table class='convocatorias'>
  <tr>
    <th class='title'>Nombre&emsp;</th>
    <th class='title'>Puestos disponibles&emsp;</th>
    <th class='title'>Horario&emsp;</th>
    <th></th>
  </tr>

  {{#each filteredConvocatories as |convocatory|}}
    {{#if convocatory.validate}}
      <tr>
        <td>{{convocatory.name}}</td>
        <td class='places'>{{convocatory.places}}</td>
        <td>{{convocatory.schedule}}</td>
        <td><button class='customButton' {{action 'apply' convocatory.id}}>Aplicar</button></td>
      </tr>
    {{/if}}
  {{/each}}
</table>

<div class='profile'>
  {{#each activeUser as |activeUser|}}
    <h1>Tu perfil:</h1>
    <p>Nombre: {{activeUser.name}}</p>
    <p>Correo: {{activeUser.email}}</p>
    <p>Identificación: {{activeUser.idNumber}}</p>
    <p>Porcentaje de avance: {{activeUser.percent}}</p>
    <p>Promedio Academico: {{activeUser.pa}}</p>
    <p>P.A.P.A.: {{activeUser.papa}}</p>
    {{#link-to 'profile' class='customButton' tagName='button'}}Actualizar perfil{{/link-to}}
  {{/each}}
</div>

{{outlet}}
